body{
    margin: 0px;
    font-family: 'Courier New', monospace;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.leftSide{
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80);
    background-position: center top;
    background-size: 200vh;
    background-repeat: no-repeat;
    width: 30%;
    height: 100vh;
    padding: 0px;
    display: inline-block;
}
.title{
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
}
.title img{
    width: 50%;
    position: relative;
    margin: -5vh;
}
footer{
    bottom: 0;
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
    position: fixed;
    text-align: center;
    width: 30%;
    }
    footer a{
        color: white;
    }
.rightSide{
    background-color: rgb(17, 17, 17);
    height: 100vh;
    width: 70%;
    display: inline-block;
    color: rgb(207, 207, 207);
}
.description{
    font-size: 30px;
    font-weight: bold;
    margin: 150px 200px 80px 50px;
}
.form{
    background-color: rgb(20, 20, 20);
    filter: drop-shadow(0px 5px 4px #b8b8b82d);
    padding-top: 10px;
}
.form h1{
    margin-left: 50px;
}
form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form p{
    color: rgb(161, 161, 161);
    width: 40%;
}
form input{
    height: 20px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(207, 207, 207, 0.288);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}
button{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(185,35,253);
    color: rgb(185,35,253);
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0px 30px 50px;
    width: 300px;
    height: 75px;
}